

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  #logo:hover{
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('buildings-bg.png');
  background-size: cover;
  height: 550px;

  h1{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin: 15px 0 0 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}
