

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  #logo:hover{
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('buildings-bg.png');
  background-size: cover;
  height: 550px;

  h1{
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
  }
}
