<hr>
<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 2016 Developed by <a href="https://www.facebook.com/scott.kennedy.505">ScottKennedyDesigns</a>
    </small>
  </footer>
</div>
